section#html-css-graphic {
  padding: 50px 0;
  @include tab-max {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .float-left-children {
    margin-left: -15px;
    margin-right: -15px;
  }
  article {
    width: calc(100% / 3);
    padding-left: 15px;
    padding-right: 15px;
    @include tab-max {
      width: 50%;
      margin: 15px 0;
    }
    @include rwd-max(480) {
      width: 100%;
    }
    img {
      max-width: 120px;
    }
    h3 {
      margin: 13px 0 5px 0px;
    }
    p {
      font-size: 18px;
      line-height: 1.4;
      letter-spacing: 0.2px;
    }
  }
}
