section#subscribe-newsletter {
  background-color: $gray-bg;
  display: table;
  height: 100px;
  @include md-max {
    height: auto;
    padding: 15px 0 20px 0;
  }
  width: 100%;
  > div {
    display: table-cell;
    vertical-align: middle;
  }

  p {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
    @include lg-min {
      float: left;
    }
    @include md-max {
      line-height: 1.3;
      margin-bottom: 10px;
    }
  }
  form {
    @include rwd-min(481) {
      display: inline-block;
    }
    @include lg-min {
      float: right;
    }
    input {
      font-size: 0.9rem;
      padding: 12px 15px;
      border: 1px solid transparent;
      &[type="text"] {
        min-width: 270px;
        @include rwd-max(480) {
          min-width: 100%;
        }
        &:focus {
          border-color: #cdff00;
        }
      }
      &[type="submit"] {
        @include rwd-max(480) {
          margin-top: 5px;
        }
      }
    }
  }
}
